:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: var(--vermelho);
}
h3{
    
    color:white;
}


header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

header.logo{
    margin-left: 15px;
    color:var(--vermelho);
    font-family:'Arial black', times;
    font-size:50px;
}

header nav a {
    text-decoration:none;
    color:#AAA;
    margin-right:10px;
}

header nav a:hover{
    color:#fff;
}
/*filme em cartas (filme principal)*/
.filme-principal{
    font-size: 16px;
    background: url('C:\Users\james\OneDrive\Documentos\GitHub\clone_netflix\imgs\du38uJFaVfZJhlSyQyFE8G3vt4V.jpg');
    height: 400px;
    background-size: cover;
}